<img alt="background" class="bg" src="http://cr7wallpapers.com/wp-content/uploads/2014/12/Cristiano-Ronaldo-black-and-white-wallpaper.jpg">
<%= render @fantasy_leagues %>
<br>
<br>
<div>
  <%= link_to("New Fantasy League", new_fantasy_league_path) %>
</div>