<img src="/images/hazard.jpg" class= "bg mobinvis" alt="background">
<div class="box box-4"></div>
<div class="infoarea box box-4">
  <%= render @fantasy_leagues %>
  <br>
  <br>
    <%= link_to("New Fantasy League", new_fantasy_league_path) %>
</div>
<div class="box box-4"></div>