<img alt="background" class="bg" src="http://cr7wallpapers.com/wp-content/uploads/2014/12/Cristiano-Ronaldo-black-and-white-wallpaper.jpg">
<h1>New Fantasy League</h1>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Back', fantasy_leagues_path %>
</div>