<div class="container">
<div class="box box-12">
</div>

  <div class="box box-4">
    <a class="twitter-timeline" href="https://twitter.com/graeme_stewart1/lists/football" data-widget-id="689518356379103232"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="box box-4">

  </div>
  <div class="box box-4">
    <script type="text/javascript">var comp_id = 8;var team_id= '1';var table_limit = 20;var table_theme = 'grey';</script>
    <script type="text/javascript" src="http://www.footballfancast.com/widgets/league_table/js/widget.js"></script>
    <div id="ffc_league_table_widget"></div>
  </div>
</div>