<img alt="background" class="bg" src="http://i1.wp.com/www.sportsgoogly.com/wp-content/uploads/2014/11/Sergio-Aguero-4.jpg">
<%= render @fantasy_teams %>
<br>
<div>
  <%= link_to("New Fantasy Team", new_fantasy_league_fantasy_team_path) %>
</div>