<img alt="background" class="bg" src="http://i1.wp.com/www.sportsgoogly.com/wp-content/uploads/2014/11/Sergio-Aguero-4.jpg">
<h1>New Fantasy Team</h1>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Back', @fantasy_league %>
</div>