<div class="box box-10">
<h3>Team Name: <%= @fantasy_team.name %></h3>
</div>
<div class="box box-2 table">
<br>
<p class="leaguetablehead">Fantasy League Table</p>
<p>Hibernian</p>
<p>Celtic</p>
<p>Hearts</p>
<p>Alloa</p>
</div>
<div class="box box-10">
<% @fantasy_team.fantasy_team_players.each do |i| %>
  <%= i.football_player.name %>
<% end %>
<br>
<%= link_to('Edit', edit_fantasy_team_path(@fantasy_team)) %>
<%= link_to('Back', fantasy_teams_path) %>
</div>