<div>
<% if fantasy_team_player.fantasy_team.user_id == current_user.id %>
<div draggable="true"><%= fantasy_team_player.football_player.name %></div>
<%= button_to('Edit', edit_fantasy_team_player_path(fantasy_team_player), method: :get) %>
<% end %>
</div>
