<div ondrop="drop(event)" ondragover="allowDrop(event)">
<% if fantasy_team_player.fantasy_team.user_id == current_user.id %>
<div class="type1" draggable="true" ondragstart="drag(event)"><span class="p2"><%= fantasy_team_player.football_player.name %></span></div>
<% end %>
</div>
