<div>
<% FootballPlayer.not_in_league(FantasyLeague.first).each do |footballer| %>
<div class="type1" draggable="true" ondragstart="drag(event)"><span class="p2"><%= footballer.name %></span></div>
<% end %>
</div>