<img src="/images/ibra.jpg" class= "bg mobinvis" alt="background">
<h1>Edit Fantasy Player</h1>
<div class ="infoarea">
  <%= render 'form' %>
  <br>
  <%= link_to 'Back', fantasy_team_players_path %>
</div>