@media only screen
/* Can say print instead of screen for a printout style */
and (min-device-width: 768px) {

  .box-1 {
    width: 8.33333333%;
  }
  .box-2 {
    width: 16.66666666%;
  }
  .box-3 {
    width: 25%;
  }
  .box-4 {
    width: 33.33333333%;
  }
  .box-5 {
    width: 41.66666666%;
  }
  .box-6 {
    width: 50%;
  }
  .box-7 {
    width: 58.33333333%;
  }
  .box-8 {
    width: 66.66666666%;
  }
  .box-9 {
    width: 75%;
  }
  .box-10 {
    width: 83.33333333%;
  }
  .box-11 {
    width: 91.66666666%;
  }
  .box-12 {
    width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .panel {
    height: 100px;
  }

  /* Responsive Images */

  .img-responsive {
    width: 100%;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .box {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
  }

  ul li {
   display:inline-block;
 }

 .menu {
  height: 100%;
  padding-right: 15px;
}

.bottom {
  text-align: left;
}

.mid {
  opacity: 0.4;
}

.top {
  text-align: right;
  opacity: 0.4;
}

.logo-img {
  height: 100%;
  margin-left: 70px;
}

.logo2-img {
  height: 200px;
}

.leaguetablehead {
  text-align: center;
}

.table {
  border-left: solid;
}

.navbar {
  opacity: 0.4;
}

html {
  height: 100%;
}

* {
  margin: 0;
}

body {
  height: 100%;
}

.pitch {
  height: 50%;
  width: 50%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 50px; 
}
.site-footer {
  opacity: 0.4;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff ;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -2;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); /* make all photos black and white */ 
}

}

@media only screen
/* Can say print instead of screen for a printout style */
and (max-device-width: 767px) {
 
  .mobinvis{
    display:none;
  }
}