/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .box-1 {
   width: 8.33333333%;
 }
 .box-2 {
   width: 16.66666666%;
 }
 .box-3 {
   width: 25%;
 }
 .box-4 {
   width: 33.33333333%;
 }
 .box-5 {
   width: 41.66666666%;
 }
 .box-6 {
   width: 50%;
 }
 .box-7 {
   width: 58.33333333%;
 }
 .box-8 {
   width: 66.66666666%;
 }
 .box-9 {
   width: 75%;
 }
 .box-10 {
   width: 83.33333333%;
 }
 .box-11 {
   width: 91.66666666%;
 }
 .box-12 {
   width: 100%;
 }

 .box {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  box-sizing: border-box;
}

img.bg {
 /* Set rules to fill background */
 min-height: 100%;

 /* Set up proportionate scaling */
 width: 100%;
 height: auto;

 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
 z-index: -2;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%); /* make all photos black and white */
}

body, html {
 height: 100%;
}

.page-wrap {
 min-height: 100%;
 /* equal to footer height */
 margin-bottom: -50px; 
}

.page-wrap:after {
 content: "";
 display: block;
}

.site-footer, .page-wrap:after {
 /* .push must be the same height as footer */
 height: 50px; 
}
.site-footer {
  background: rgba(255, 0, 0, 0.2); 
}

.navbar {
 list-style-type: none;
 letter-spacing: 5px;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background: rgba(255, 0, 0, 0.2) ;
 padding-top: 15px;
 padding-bottom: 15px;
}

.nav {
 float: left;
}

.nav a {
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.nav a:hover {
 background-color: #111;
}

ul li {
  display:inline-block;
}

.menu {
 padding-right: 15px;
}

.top {
  text-align: right;
  color: #777;
  font-size: 12px;
}

.container {
 width: 80%;
 margin: 0 auto;
}

.infoarea{
  background: rgba(0, 0, 0, 0.5) ;
  border: 1px solid white;
  transform: translateY(50%);
  color: white;
}